<div class="row">
  <div class="col-md-8">
    <h2><%= t ".title" %></h2>

    <%= form_for resource, as: resource_name, url: unlock_path(resource_name),
      html: {method: :post}  do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email, t(".email") %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions devise-submit">
        <%= f.submit t(".send_unlock") %>
      </div>
    <% end %>
  </div>
  <div class="col-md-4 hidden-in-xs">
    <%= render "shared/side_bar", form_movies: @movies,
      movies: first_n_movies(Settings.movie.movie_sidebar) %>
  </div>
</div>
