<%# FIXME: dummy form %>
<form action="#" class="text-right">
  <h3><%= t ".title" %></h3>
  <div class="form-group">
    <select class="form-control">
      <option value="" hidden selected><%= t ".movie" %></option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control">
      <option value="" hidden selected><%= t ".date" %></option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control">
      <option value="" hidden selected><%= t ".theater" %></option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control">
      <option value="" hidden selected><%= t ".show" %></option>
    </select>
  </div>
  <button type="submit" class="btn btn-default"><%= t ".book" %></button>
</form>
