<div class="row" id="show-index" class="show-index">
  <input type="hidden" name="ajax_theaters" value="<%= ajax_theaters_path %>">
  <input type="hidden" name="ajax_shows" value="<%= ajax_shows_path %>">
  <h2 class="title text-center"><%= t ".showtime" %></h2>
  <div class="col-md-4 col-xs-12">
    <div class="panel movie-panel" id="movie-panel">
      <h4 class="panel-title text-center"><%= t ".select_movie" %></h4>
      <ul class="order-list" id="movie-list">
        <% for movie in @movies do %>
          <li class="list-row">
            <%= link_to "#" do %>
              <div class="movie-item" data-movie-id="<%= movie.id %>">
                <%= render "shared/show_movie_item", movie: movie %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="panel" id="theater-panel">
      <h4 class="panel-title text-center"><%= t ".select_theater" %></h4>
      <ul class="order-list" id="theater-list"></ul>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="panel" id="show-panel">
      <h4 class="panel-title text-center"><%= t ".select_session" %></h4>
      <ul class="order-list" id="show-list"></ul>
    </div>
  </div>
</div>
<script id="theater-item-template" type="text/x-jsrender">
  <li class="list-row">
    <a href="#">
      <div class="theater-item" data-theater-id="{{:theater_id}}"
        data-movie-id="{{:movie_id}}">
        <p>{{:name}}</p>
      </div>
    </a>
  </li>
</script>
<script id="show-item-template" type="text/x-jsrender">
  <li class="list-row">
    <div>
      <h4 class="show-date">{{:date}}</h4>
      <div class="row show-time">
        {{for shows}}
          <div class="col-md-4 text-center" style="float: left">
            <a href="#" class="show-anchor">
              <div class="show-item" data-show-id="{{:id}}">
                {{:start_time}}
              </div>
            </a>
          </div>
        {{/for}}
      </div>
    </div>
  </li>
</script>
