<%= form_for :user, url: user_session_path do |f| %>
  <div class="form-group">
    <%= f.label :email, t(".email") %>
    <%= f.email_field :email, autofocus: true, class: "form-control",
      id: "sign_in_email" %>
  </div>
  <div class="form-group">
    <%= f.label :password, t(".password") %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control",
      id: "sign_in_password" %>
  </div>
  <div class="checkbox">
    <%= f.label :remember_me, t(".remember_me") do %>
      <%= f.check_box :remember_me %>
      <%= t(".remember_me") %>
    <% end %>
  </div>
  <%= f.submit  t(".signin"), class: "btn btn-primary", id: "signin-btn" %>
  <%= link_to t(".forgot_password"), new_user_password_path,
    class: "signin-helper-links" %>
  <%= link_to t(".resend_confirmation"), new_user_confirmation_path,
    class: "signin-helper-links" %>
  <%= link_to t(".unlock_account"), new_user_unlock_path,
    class: "signin-helper-links" %>
  <div class="alert alert-danger signin-error no-display" id="signin-error">
  </div>
<% end %>
