<!DOCTYPE html>
<html>
  <head>
    <title><%= t "application_title" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "https://www.paypalobjects.com/api/checkout.js",
      "data-turbolinks-track": "reload" %>
    <meta name="viewport" content="width=800, initial-scale=1.0" />
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <%= render "layouts/flash_alerts" unless flash.empty? %>
      <%= render "layouts/login_container",
        user: @user unless user_signed_in? %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
